*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
XML_Stuff/Library/FailedAssetImports.txt
XML_Stuff/Library/cache/
XML_Stuff/Library/previews/
XML_Stuff/Library/ScriptAssemblies
XML_Stuff/Library/metadata/
XML_Stuff/Library/assetDatabase3
XML_Stuff/obj
XML_Stuff/Temp
XML_Stuff/Build1_Data
XML_Stuff/Assets/Quests/A_Reisender_Händler.xml

XML_Stuff/Assets/Quests/C_Hinter_verschlossenen_Türen.xml

XML_Stuff/Assets/Quests/A_Reisender_Händler.xml.meta

XML_Stuff/Assets/Quests/D_Flüssige_Nahrungsmittel.xml

XML_Stuff/Assets/Quests/C_Hinter_verschlossenen_Türen.xml.meta

XML_Stuff/Assets/Quests/D_Flüssige_Nahrungsmittel.xml.meta
twdmudsm.tct.txt

XML_Stuff/Library/assetDatabase3

XML_Stuff/Library/assetDatabase3
XML_Stuff/Assets/Quests/A_Der_Beginn.xml.meta
XML_Stuff/Assets/Quests/A_Schnitzel.xml.meta
XML_Stuff/Assets/Quests/A_Suppe.xml.meta
XML_Stuff/Assets/Quests/B_Die_Pest.xml.meta
XML_Stuff/Assets/Quests/B_Eine_lustige_Aufgabe.xml.meta
XML_Stuff/Assets/Quests/B_Kirchenproblem.xml.meta
XML_Stuff/Assets/Quests/B_Nachbarschaftshilfe.xml.meta
XML_Stuff/Assets/Quests/B_Robot_Aufstand.xml.meta
XML_Stuff/Assets/Quests/C_Der_brennende_Wald.xml.meta
XML_Stuff/Assets/Quests/C_Ein_Anschlag.xml.meta
XML_Stuff/Assets/Quests/C_Stein_der_Weisen.xml.meta
XML_Stuff/Assets/Quests/D_Dunkle_Wolken.xml.meta
XML_Stuff/Assets/Quests/D_Gartenbau.xml.meta
XML_Stuff/Assets/Quests/D_Gartenzwerg.xml.meta
XML_Stuff/Assets/Quests/D_Springbrunnen.xml.meta
XML_Stuff/Assets/Quests/D_Springbrunnen.xml.meta
XML_Stuff/Assets/Quests/questList.txt.meta
