*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
XML_Stuff/Library/FailedAssetImports.txt
XML_Stuff/Library/cache/
XML_Stuff/Library/previews/
XML_Stuff/Library/ScriptAssemblies
XML_Stuff/Library/metadata/
XML_Stuff/Library/assetDatabase3
XML_Stuff/obj
XML_Stuff/Temp
XML_Stuff/Build1_Data
XML_Stuff/Assets/Quests/A_Reisender_Händler.xml

XML_Stuff/Assets/Quests/C_Hinter_verschlossenen_Türen.xml

XML_Stuff/Assets/Quests/A_Reisender_Händler.xml.meta

XML_Stuff/Assets/Quests/D_Flüssige_Nahrungsmittel.xml

XML_Stuff/Assets/Quests/C_Hinter_verschlossenen_Türen.xml.meta

XML_Stuff/Assets/Quests/D_Flüssige_Nahrungsmittel.xml.meta
twdmudsm.tct.txt

XML_Stuff/Library/assetDatabase3

XML_Stuff/Library/assetDatabase3
